@charset "UTF-8";

/* em HTML id = em CSS é # (so pode um elemento)
   em HTML class = em CSS é . (pode colocar em varios elementos)
   : = pseudo-classes
   :: = pseudo-elementos
   > = children(filho)
*/

body{
    background-color: #1DDB7F;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: #13F247;
}
h2{
    color: #20E813;
}

h1#principal{
    text-align: center;
    background-color: #13F2C6;
}
.basico{
    color: #13D8E8;
    font-weight: bold;
}
.intermediario{
    color: #4daf9c;
    font-weight: bolder;
}
.avancado{
    color: #1b4144;
    font-weight: lighter;
}

