@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
    width: 100%;
    background-size: cover;
}

body {
    background: url('../PROJETO03/assets/imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 311px;
    background: url(../PROJETO03/assets/imagens/frame-iphone.png) no-repeat center;
    background-size: 35vh;
}

iframe#tela{
    position: relative;
    top: 90px;
    left: 65px;
    width: 180px;
    height: 322px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    transition: transform .5s;
}