@charset "UTF=8";
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

:root{
    --fonte001: Verdana, Geneva, Tahoma, sans-serif;
    --fonte002: 'Metal Mania', cursive;
    --fonte003: 'Joan', serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 
}

html, body {
    min-height: 100vh;
    background-color: rgb(59, 48, 48);
    font-family: var(--fonte002)
}

header {
    background-color: black;
    color: white;
    text-align: center;
    background-image: url(beautiful-shot-rocky-mountains-covered-with-white-snow.jpg);
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte002);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: rgb(207, 206, 206);
    color: black;
}

section > p {
    padding-bottom: 2em;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-attachment: fixed;
}

section#img01{
    background-image: url(background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url(background002.jpg);
    background-size: cover;
}

section.imagem > p {
    
    background-color: rgba(0, 0, 0, 0.253);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px, 1px, 0px, black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}