@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

body{
    background-color: #191919;
}

main{
    display: flex;
    flex-direction: row;
}
header h1{
    text-align: center;
    padding-top: 20px;
    color: #fff;
}

.picture img{
    padding: 100px 30px 0px 50px;
    height: 400px;
}

.title{
    padding-top: 100px;
    color: #fff;
}

.title h1{
    padding-bottom: 10px;
    font-size: 60px;
}

.title h2{
    padding-bottom: 20px;
    color: #fff;
}

.title h3{
    padding-top: 8px;
    width: 700px;
    color: #858585;
}

span{
    color: #f9004d;
    cursor: pointer;
}
footer{
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Acme', sans-serif;
    color: #fff;
    position: relative;
}

footer input{
    display: inline-block;
    right: 15px;   
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 300px;
    height: 45px;
    outline: none;
    box-shadow: 0px 0px 15px #858585;
}

footer button{
    background-color: #f9004d;
    font-weight: bold;
    padding: 5px;
    border: none;
    color: #fff;
    border-radius: 15px;
    height: 40px;
    top: 3px;
    left: 170px;
    display: inline-block;
    position: absolute;
    box-shadow: 0px 0px 15px #858585;
    cursor: pointer;
}
